// main-auriculares
@media(min-width:1920px) {
    .main-auriculares {

        section {
            @include grid(repeat(3, 1fr), 2fr, 10px, "auricular-uno auricular-dos auricular-tres", none, none);
            margin: 20px;

            .card-productos {
                img {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }

    // main-tiendas-contacto
    .main-tiendas-contacto {
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
margin: 20px;

        }

        .tienda-hijo {

            @include card(800px, 1000px, flex, column, center, center, #6D8B74, 5px);

            div {
                h2 {
                    font-size: 27px;
                }

                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 22px;
                    margin: 5px;
                }

                img {
                    width: 20px;
                    height: 20px;
                }

                iframe {
                    width: 400px;
                    height: 200px;
                }

            }
        }

        .contacto-hijo {
            @include card(800px, 400px, flex, column, center, center, #6D8B74, 5px);

            h2 {
                font-size: 27px;
            }

            p {
                font-size: 22px;
                margin: 5px;

            }
        }
    }

    //main-mixer-reproductores
    .main-mixer-reproductores {
        h1 {
            font-size: 32px;
        }

        section {
            h2 {
                font-size: 27px;
            }

            .contenedor-mixer-reproductores {
                justify-content: space-evenly;

                .card-productos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 800px;
                    width: 450px;

                    img {
                        width: 200px;
                        height: 250px;
                    }

                    h3 {
                        font-size: 24px;
                    }

                    ul li {
                        font-size: 22px;
                    }
                }
            }
        }
    }

}