@media(min-width:1024px) {

    // main-index
    .main-index {
        section div {
            h1 {
                font-size: 32px;
            }

            p {
                font-size: 22px;
            }
        }

        section {
            h2 {
                font-size: 27px;
            }

            div {
                h3 {
                    font-size: 24px;
                }

                img {
                    width: 250px;
                    height: 100px;
                }
            }
        }
    }

    // main-nuestros-productos
    .main-nuestros-productos {
        h1 {
            font-size: 32px;
        }

        section {
            
            div {
                width: 450px;
                height: 750px;

                h2 {
                    font-size: 27px;
                }

                a {
                    img {
                        width: 350px;
                        height: 350px;
                        border: 2px solid #000;

                        &:hover {
                            width: 370px;
                            height: 370px;
                            background-color: #D21312;
                        }
                    }
                }

                p {
                    font-size: 22px;
                    margin: 5px;
                }
            }
        }
    }

    // main-mixer-reproductores
    .main-mixer-reproductores {
        h1 {
            font-size: 32px;
        }

        section {
            h2 {
                font-size: 27px;
            }

            .contenedor-mixer-reproductores {

                .card-productos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 700px;
                    width: 450px;

                    img {
                        width: 200px;
                        height: 250px;
                    }

                    h3 {
                        font-size: 24px;
                    }

                    ul li {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    // main-auriculares
    .main-auriculares {
        h1 {
            font-size: 32px;
        }

        section {
            @include grid(repeat(3, 1fr), 2fr, 10px, "auricular-uno auricular-dos auricular-tres", none, none);

            .card-productos {

                img {
                    width: 150px;
                    height: 150px;

                }

                h3 {
                    font-size: 24px;
                }

                ul li {
                    font-size: 22px;
                }
            }
        }

    }

    // main-tiendas-contacto
    .main-tiendas-contacto {
        h1 {
            font-size: 32px;
        }


        .tienda-hijo {

            @include card(700px, 500px, flex, column, center, center, #6D8B74, 5px);

            div {
                h2 {
                    font-size: 27px;
                }

                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 20px;
                    margin: 5px;
                    letter-spacing: 3px;
                }

                img {
                    width: 15px;
                    height: 15px;
                }

                iframe {
                    width: 350px;
                    height: 100px;
                }

            }
        }

        .contacto-hijo {
            @include card(700px, 400px, flex, column, center, center, #6D8B74, 5px);

            h2 {
                font-size: 25px;
                margin: 30px;
            }

            p {
                font-size: 20px;
                margin: 5px;

            }
        }
    }
}